/* ALL FONTS */
@font-face
{
    font-family: pixelBold;
    src: url(../fonts/Pixellari.ttf);
    font-weight: bolder;
}

/* Everything related to the BODY (usually the background) */
body
{
    background-image: url(../backgrounds/01.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



/* The title */
.title
{
    font-family: pixelBold, 'Trebuchet MS', Consolas;
    font-size: 200%;
    text-align: center;
    color: #007BFF;

    margin: auto;
    margin-top: 10%;
    width: 50%;

    background-color: #0C0C0C;

    border: 7px solid #007BFF;
    outline: 7px #0C0C0C dashed;
    padding: 5px;
}
.underTitle
{
    font-size: 75%;
}



/* The links */
.links
{
    font-family: Rubik, Arial;
    text-align: center;

    margin: auto;
    margin-top: 3%;
    width: 35%;

    background-color: #0C0C0C;

    border: 7px solid #007BFF;
    outline: 7px #0C0C0C dashed;
    padding: 5px;
}



/* The parameters for the links theirselves */
a:link
{
    text-decoration: none;
    color: #007BFF;

    padding: 10px;
    border: 3px solid #FFFFFF;
}

a:visited
{
    text-decoration: none;
    padding: 10px;
    border: 3px solid #FFFFFF;
}

a:hover
{
    cursor: pointer;
    background-color: #22B4E5;
}



/* Responsive part */
@media only screen and (max-width: 771px)
{
    .title
    {
        width: 85%;
    }


    .links
    {
        margin-top: 10%;
        width: 60%;
    }


    a:link
    {
        padding: 7px;
    }

    a:visited
    {
        padding: 7px;
    }
}